/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

 :root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
}

body {
  background: linear-gradient(139deg, #ff6700, #ec8900, #d04200, #db7748);
  background-size: 800% 800%;

  -webkit-animation: HalloweenGradient 4s ease infinite;
  -moz-animation: HalloweenGradient 4s ease infinite;
  animation: HalloweenGradient 4s ease infinite;
}

@-webkit-keyframes HalloweenGradient {
  0%{background-position:0% 67%}
  50%{background-position:100% 34%}
  100%{background-position:0% 67%}
}
@-moz-keyframes HalloweenGradient {
  0%{background-position:0% 67%}
  50%{background-position:100% 34%}
  100%{background-position:0% 67%}
}
@keyframes HalloweenGradient {
  0%{background-position:0% 67%}
  50%{background-position:100% 34%}
  100%{background-position:0% 67%}
}

.bloodBeat {
	background: linear-gradient(138deg, #ce0505, #671010, #000000);
	background-size: 300%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: blood 3s ease-in-out infinite;
	-moz-animation: blood 3s ease-in-out infinite;
	-webkit-animation: blood 3s ease-in-out infinite;
}

@-webkit-keyframes blood {
  0%{background-position:0% 33%}
  50%{background-position:100% 68%}
  100%{background-position:0% 33%}
}
@-moz-keyframes blood {
  0%{background-position:0% 33%}
  50%{background-position:100% 68%}
  100%{background-position:0% 33%}
}
@keyframes blood {
  0%{background-position:0% 33%}
  50%{background-position:100% 68%}
  100%{background-position:0% 33%}
}

@font-face { font-family: fizzyblood; src: url('fonts/fizzyblood.woff'); }

body {
  font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 20px 20px 40px 20px;
}

.halloweenFont {
  font-family: fizzyblood;
}

/* main {
  max-width: 760px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 130px -50px var(--qwik-light-purple);
  overflow: hidden;
} */

h1,
h2 {
  margin: 0 0 5px 0;
}

footer {
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

a.jackoButton {
  margin: 0 auto;
  display: block;
  background: orange;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
  color: white;
  text-decoration: none;
  font-size: 20px;
  width: fit-content;
  border-bottom: 4px solid black;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎃</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

a.jackoButton:hover {
  border-bottom-width: 0px;
  margin-bottom: 4px;
  transform: translateY(4px);
  background: darkorange
}
